<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Courses taken</title>
</head>
<body>
    <header class="header">
        <h1>My Courses 👌</h1>
        <hr>
    </header>
    <br><br>
    <div class="fatherContainer" id="app">
        <div class="sonContainer">
            <h2>Courses</h2>
            <p>
                <input type="text" placeholder="Course" v-model= "title">
            </p>
            <p>
                <input type="number" placeholder="Time studied" v-model="time">
            </p>
            <p>
                <button @click="addCourse">Save Course</button>
            </p>
        </div>
        <br><br>
        </fieldset>
        <div class="sonContainer">
            <h3>Courses list</h3>
            <p class="red" v-show="!courses.length">You have any courses yet</p>
            <div v-show="courses.length">
                <ol>
                    <li v-for="c in courses"><span>{{c.title}} - {{c.time}} hrs</span></li>
                    <!--Courses List-->
                </ol>
                <hr>
                <p>
                    I have <strong>{{totalTime}}</strong> hours learning.
                    <b>#Never stop learning 😍</b>
                </p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./app.js"></script>
    
</body>
</html>